@media (min-width: 1400px) and (max-width: 1919px) {
  .container-fluid {
    padding: 0 12px !important;
    width: 1320px;
    margin: 0 auto; }

  body {
    font-size: 14px; }

  .common-title h4 {
    font-size: 32px; }

  .top-header .title p {
    font-size: 14px; }

  header .header-logo {
    margin-right: 40px; }

  header .header-main .header-logo .logo {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

  header .header-main .header-logo .logo img {
    width: 130px; }

  header .header-main {
    flex-wrap: unset; }

  header .header-main .social {
    margin-left: 60px;
    min-width: 250px; }

  header .header-main ul li {
    margin: 5px 20px;
    margin-left: 0; }

  header .header-main ul li + li {
    margin-left: 0; }

  header .header-main ul li::before {
    display: none; }

  header .header-main .social a {
    font-size: 13px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: 2px; }

  header .header-main ul li a i {
    font-size: 20px;
    margin-right: 6px; }

  header .header-main ul li a {
    font-size: 14px; }

  header .name h4 {
    font-size: 21px; }

  header .bd-logo img {
    width: 60px; }

  nav .container-fluid {
    padding: 0 12px 0; }

  nav .navbar-collapse {
    padding-left: 0; }

  nav ul .nav-item .nav-link {
    font-size: 14px !important;
    padding: 0 13px !important; }

  .navbar-expand-lg .navbar-nav {
    padding-left: 10px; }

  nav .common-btn {
    display: none; }

  nav .right-info .bar {
    padding: 0 20px 0 10px; }

  nav ul .nav-item ul li a {
    font-size: 14px !important;
    padding: 10px 20px !important; }

  .search-icon img {
    width: 20px; }

  nav ul .nav-item {
    line-height: 66px; }

  nav .right-info .bar .custom-icon {
    width: 42px;
    height: 42px;
    line-height: 42px; }

  nav .right-info .bar .custom-icon span {
    top: 50%;
    left: 8px;
    width: 15px; }

  nav .right-info .bar .custom-icon span::before {
    width: 22px; }

  nav .right-info .bar .custom-icon span::after {
    width: 22px; }

  nav .right-info .search-box {
    margin-right: 60px; }

  nav .right-info .search-box::before {
    top: 13px;
    right: -24px;
    height: 36px; }

  nav .right-info .search-box {
    margin-right: 0; }

  .navbar-expand-lg .navbar-nav {
    padding-left: 0; }

  .banner__slider {
    height: 460px;
    width: 1320px;
    margin: 0 auto;
    padding: 0 12px; }

  .banner__slider .banner-content {
    padding-left: 80px; }

  .banner__slider .banner-content h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px; }

  .banner__slider .image {
    height: 460px; }

  .banner__slider .banner-content {
    padding-left: 0; }

  .about .about-image .img {
    height: 515px; }

  .about .about-info .year-box {
    right: 110px; }

  .about .about-info .video {
    left: 50px; }

  .presedent-with-contact-form {
    padding-top: 155px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-top: 130px !important;
    padding-bottom: 107px !important; }

  .service-item .text h5 .title {
    font-size: 21px; }

  .services .swiper-button-next {
    right: -55px; }

  .services .swiper-button-prev {
    left: -55px; }

  .news-item .news-image {
    height: 364px; }

  .news-item .news-text .title {
    font-size: 18px; }

  .presedent-with-contact-form .presedent-bg .text p {
    margin-bottom: 30px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-top: 80px;
    padding-bottom: 284px;
    padding-left: 40px; }

  .presedent-with-contact-form .contact-main .member-info .title h2 {
    font-size: 32px;
    font-weight: 700; }

  .presedent-with-contact-form .contact-main .heading h2 {
    padding: 32px; }

  .presedent-with-contact-form .presedent-bg .text h2 {
    font-size: 34px;
    margin-bottom: 14px; }

  .presedent-with-contact-form .presedent-bg .text h6 {
    margin-bottom: 22px; }

  .presedent-with-contact-form .contact-main .member-info .member-counter .counter-item h3 {
    font-size: 40px; }

  .presedent-with-contact-form .contact-main .member-info .member-counter::after {
    left: 238px; }

  .event-item .text .title {
    font-size: 22px; }

  footer .footer-bg .footer-title {
    font-size: 22px; }

  footer .footer-bg .footer-contact {
    padding: 0 40px 0 40px; } }
@media (min-width: 1200px) and (max-width: 1399px) {
  .container-fluid {
    width: 1140px;
    margin: 0 auto; }

  body {
    font-size: 14px; }

  .common-title h4 {
    font-size: 32px; }

  .top-header .title p {
    font-size: 14px; }

  header .header-logo {
    margin-right: 40px; }

  header .header-main .header-logo .logo {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

  header .header-main .header-logo .logo img {
    width: 130px; }

  header .header-main {
    flex-wrap: unset; }

  header .header-main .social {
    margin-left: 60px;
    min-width: 250px; }

  header .header-main ul li {
    margin: 5px 20px;
    margin-left: 0; }

  header .header-main ul li + li {
    margin-left: 0; }

  header .header-main ul li::before {
    display: none; }

  header .header-main .social a {
    font-size: 13px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: 2px; }

  header .header-main ul li a i {
    font-size: 20px;
    margin-right: 6px; }

  header .header-main ul li a {
    font-size: 14px; }

  header .name h4 {
    font-size: 21px; }

  .header-logo img {
    width: 130px; }

  .bd-logo img {
    width: 60px; }

  nav .container-fluid {
    padding: 0 12px 0; }

  nav .navbar-collapse {
    padding-left: 0; }

  nav ul .nav-item .nav-link {
    font-size: 14px !important;
    padding: 0 10px !important; }

  nav .right-info .search-box {
    margin-right: 0 !important; }

  nav .common-btn {
    display: none; }

  nav .right-info .bar {
    padding: 0 20px 0 10px; }

  nav ul .nav-item ul li a {
    font-size: 14px !important;
    padding: 10px 20px !important; }

  .search-icon img {
    width: 20px; }

  nav ul .nav-item {
    line-height: 66px; }

  nav .right-info .bar .custom-icon {
    width: 42px;
    height: 42px;
    line-height: 42px; }

  nav .right-info .bar .custom-icon span {
    top: 50%;
    left: 8px;
    width: 15px; }

  nav .right-info .bar .custom-icon span::before {
    width: 22px; }

  nav .right-info .bar .custom-icon span::after {
    width: 22px; }

  nav .right-info .search-box {
    margin-right: 60px; }

  nav .right-info .search-box::before {
    top: 13px;
    right: -24px;
    height: 36px; }

  .navbar-expand-lg .navbar-nav {
    padding-left: 0; }

  .banner__slider .banner-content h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 37px; }

  .banner__slider .image {
    height: 396px; }

  .banner__slider {
    height: 396px;
    width: 1140px;
    margin: 0 auto;
    padding: 0 12px; }

  .banner__slider .banner-content {
    padding-left: 0;
    padding-right: 84px !important; }

  .about .about-image .img {
    height: 442px; }

  .about .about-text .description p {
    font-size: 16px; }

  .about .about-text .other-info .text h4 {
    font-size: 22px; }

  .about .about-info .year-box {
    right: 43px; }

  .about .about-info .video {
    left: 50px; }

  .anim-img {
    display: none; }

  .presedent-with-contact-form {
    padding-top: 90px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-top: 59px !important;
    padding-bottom: 69px !important; }

  .service-item .text h5 .title {
    font-size: 21px; }

  .services .swiper-button-next {
    right: -55px; }

  .services .swiper-button-prev {
    left: -55px; }

  .news-item .news-image {
    height: 311px; }

  .news-item .news-text .title {
    font-size: 16px; }

  .news-item .news-text .date p {
    width: 72px;
    height: 72px;
    padding: 12px 16px;
    text-align: center; }

  .news-item .news-text .date p span {
    font-size: 22px; }

  .presedent-with-contact-form .presedent-bg .text p {
    margin-bottom: 30px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-top: 35px;
    padding-bottom: 240px;
    padding-left: 40px; }

  .presedent-with-contact-form .contact-main .member-info .title h2 {
    font-size: 32px;
    font-weight: 700; }

  .presedent-with-contact-form .contact-main .heading h2 {
    padding: 32px; }

  .presedent-with-contact-form .presedent-bg .text h2 {
    font-size: 34px;
    margin-bottom: 14px; }

  .presedent-with-contact-form .presedent-bg .text h6 {
    margin-bottom: 22px; }

  .presedent-with-contact-form .contact-main .member-info .member-counter .counter-item h3 {
    font-size: 40px; }

  .presedent-with-contact-form .contact-main .member-info .member-counter::after {
    left: 238px; }

  .upcomming-event-box .upcomming-event-item .image {
    height: 240px; }

  .event-calender .pignose-calendar {
    min-height: 506px; }

  .event-item {
    height: 481px; }

  .event-item .text .title {
    font-size: 22px; }

  .event-item .image {
    height: 281px; }

  .gallery-item .image {
    height: 274px; }

  footer .footer-bg .footer-title {
    font-size: 22px; }

  footer .footer-bg .footer-contact {
    padding: 0 40px 0 40px; }

  .former-president-item .image {
    height: 181px; }

  .upcomming-event-page .upcomming-event-item .image {
    height: 200px; }

  .upcomming-event-item .text .title {
    font-size: 18px; }

  .news-details .related-news .rn::before {
    display: none; }

  .publication-main .publication-item .single-item .image {
    height: 264px; }

  .publication-main .publication-item .single-item {
    min-height: 341px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .common-title h4 {
    font-size: 34px; }

  .mobile-header .mobile-social {
    width: auto; }

  .top-header .title p {
    font-size: 14px; }

  header .name h4 {
    font-size: 21px; }

  .bd-logo img {
    width: 60px; }

  nav ul .nav-item .nav-link {
    font-size: 14px !important; }

  .banner__slider .banner-content h2 {
    font-size: 28px; }

  .banner__slider .banner-content {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 15px; }

  .banner__slider .banner-content h2 {
    font-size: 30px; }

  .banner__slider {
    height: 331px;
    width: 960px;
    margin: 0 auto;
    padding: 0 12px; }

  .banner__slider .banner-content {
    padding-left: 0;
    padding-right: 60px; }

  .banner__slider .image {
    height: 331px;
    padding-left: 0; }

  .anim-img {
    position: absolute;
    display: none; }

  .about .about-image .img {
    height: 564px; }

  .about .about-text {
    padding-left: 0;
    margin-top: 0px !important; }

  .about .about-text .description p {
    font-size: 16px; }

  .about .about-text .other-info .text h4 {
    font-size: 24px; }

  .about .about-image .img {
    height: 369px; }

  .about .about-info .year-box {
    bottom: -158px;
    right: 42px; }

  .about .about-info .video {
    bottom: -50px;
    left: 23px; }

  .presedent-with-contact-form {
    padding-top: 90px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-left: 0;
    padding-bottom: 40px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-top: 30px;
    padding-left: 30px; }

  .presedent-with-contact-form .presedent-bg .text h2 {
    font-size: 30px;
    margin-bottom: 10px; }

  .presedent-with-contact-form .presedent-bg .text h6 {
    font-size: 18px;
    margin-bottom: 16px; }

  .presedent-with-contact-form .presedent-bg .text p {
    margin-bottom: 30px; }

  .business-summit .business-summit-title h4 {
    background-color: unset;
    backdrop-filter: unset;
    color: #ffffff !important;
    padding: 0 0 40px;
    text-align: center;
    font-size: 40px;
    clip-path: unset; }

  .business-summit .logo .overlay p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; }

  .business-summit .business-summit-title h4 {
    padding: 0;
    font-size: 36px; }

  .news-item .news-image {
    height: 259px; }

  .container-fluid {
    width: 960px;
    margin: 0 auto;
    padding: 0 12px; }

  .news-item .news-text {
    width: 100%;
    padding: 20px 20px;
    top: 0; }

  .news-item .news-text .title {
    font-size: 18px; }

  .news-item {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 24px; }

  .news .common-btn {
    margin-top: 6px; }

  .news {
    padding-top: 50px; }

  .news-item .news-text .date p {
    width: 70px;
    height: 70px;
    padding: 6px 21px; }

  .news-item .news-text .title {
    font-size: 16px; }

  .counter-item {
    margin: 20px 0; }

  .counter-item.even-item::before {
    display: none; }

  .counter-item.odd-item::before {
    display: none; }

  .counter-item.odd-item::after {
    display: none; }

  .counter-item h3 {
    font-size: 38px;
    margin: 7px 0; }

  .event-calender .pignose-calendar {
    margin-bottom: 30px; }

  .upcomming-event-box .upcomming-event-item .image {
    height: 199px; }

  .upcomming-event-box .upcomming-event-item .text {
    padding: 10px;
    padding-top: 20px; }

  .upcomming-event-box .upcomming-event-item .text span {
    margin: 14px 0 10px 0; }

  .event-item .image {
    height: 233px; }

  .event-item .text .title {
    font-size: 18px; }

  .event-item {
    height: 458px; }

  .gallery-item .image {
    height: 228px; }

  .former-president-item .image {
    height: 209px; }

  .news-list-page .news-item {
    margin-bottom: 24px; }

  .news-details {
    padding-top: 60px; }

  .fixed-sidebar-news {
    position: unset;
    padding-left: 0;
    margin-top: 40px; }

  .publication-main .publication-item .single-item .image {
    height: 221px; }

  .publication-main .publication-item .single-item {
    min-height: 297px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .mobile-header .mobile-social {
    width: auto; }

  .banner__slider .image {
    height: auto;
    padding-left: 0; }

  .banner__slider .banner-content {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 15px; }

  .banner__slider {
    height: auto; }

  .banner__slider .banner-content h2 {
    font-size: 34px; }

  .anim-img {
    position: absolute;
    display: none; }

  .about .about-image .img {
    height: 564px; }

  .about .about-text {
    padding-left: 0;
    margin-top: 130px !important; }

  .presedent-with-contact-form {
    padding-top: 90px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-left: 0;
    padding-bottom: 40px; }

  .business-summit .business-summit-title h4 {
    background-color: unset;
    backdrop-filter: unset;
    color: #ffffff !important;
    padding: 0 0 40px;
    text-align: center;
    font-size: 40px;
    clip-path: unset; }

  .business-summit .logo {
    margin-bottom: 14px; }

  .business-summit .logo .overlay p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; }

  .news-item .news-image {
    height: 294px; }

  .container-fluid {
    width: 720px;
    margin: 0 auto;
    padding: 0 12px; }

  .news-item .news-text {
    width: 100%;
    padding: 30px 24px;
    top: 0; }

  .news-item .news-text .title {
    font-size: 18px; }

  .news-item {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 24px; }

  .news .common-btn {
    margin-top: 6px; }

  .news {
    padding-top: 50px; }

  .counter-item {
    margin: 20px 0; }

  .counter-item.even-item::before {
    display: none; }

  .counter-item.odd-item::before {
    display: none; }

  .counter-item.odd-item::after {
    display: none; }

  .counter-item h3 {
    font-size: 38px;
    margin: 7px 0; }

  .event-calender .pignose-calendar {
    margin-bottom: 30px; }

  .upcomming-event-box .upcomming-event-item .image {
    height: 199px; }

  .upcomming-event-box .upcomming-event-item .text {
    padding: 10px;
    padding-top: 20px; }

  .upcomming-event-box .upcomming-event-item .text span {
    margin: 14px 0 10px 0; }

  .event-item .image {
    height: 257px; }

  .event-item {
    height: 496px;
    margin-top: 24px; }

  .gallery-item .image {
    height: 258px; }

  .former-president-item .image {
    height: 239px; }

  .upcomming-event-page .upcomming-event-item .image {
    height: 203px; }

  .news-list-page .news-item {
    margin-bottom: 24px; }

  .news-details {
    padding-top: 60px; }

  .fixed-sidebar-news {
    position: unset;
    padding-left: 0;
    margin-top: 40px; }

  .news-details .related-news .rn::before {
    display: none; }

  .news-details .text-main .img {
    width: auto;
    margin-right: 0;
    margin-bottom: 20px; }

  .content-page .content-main h1 {
    font-size: 30px; }

  .content-page .mid-text h4 {
    font-size: 24px;
    line-height: 33px; }

  .publication-main .publication-item .single-item .image {
    height: 221px; }

  .publication-main .publication-item .single-item {
    min-height: 297px; }

  .sticky {
    position: unset;
    top: 70px;
    margin-top: 30px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 15px; }

  .banner__slider .image {
    height: auto; }

  .banner__slider .banner-content h2 {
    font-size: 26px; }

  .banner__slider {
    height: auto; }

  .banner__slider .banner-content {
    margin-top: 30px; }

  .banner__slider .banner-content {
    padding-right: 12px;
    padding-left: 12px; }

  .about .about-image .img {
    height: 442px; }

  .anim-img {
    display: none; }

  .about .about-text {
    padding-left: 0;
    padding-top: 200px; }

  .about .about-info .year-box .year h5 {
    width: 120px;
    height: 120px;
    line-height: 120px; }

  .about .about-info .year-box .year {
    width: 144px;
    height: 144px; }

  .about .about-info .year-box {
    width: 196px;
    right: 84px;
    bottom: -134px; }

  .about .common-title {
    margin-bottom: 20px; }

  .common-title h4 {
    font-size: 30px; }

  .about .about-info .video {
    bottom: -36px;
    left: 56px; }

  .about .about-text .description p {
    font-size: 15px; }

  .about .about-text .other-info .text h4 {
    font-size: 22px; }

  .about .about-text .other-info .info-box {
    height: auto; }

  .presedent-with-contact-form {
    padding-top: 90px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-top: 31px;
    padding-bottom: 0;
    padding-left: 0; }

  .presedent-with-contact-form .presedent-bg .text h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 8px; }

  .presedent-with-contact-form .presedent-bg .text h6 {
    font-size: 18px;
    margin-bottom: 18px; }

  .presedent-with-contact-form .presedent-bg .text p {
    margin-bottom: 24px; }

  .presedent-with-contact-form .presedent-bg .text .read-more {
    margin-bottom: 23px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-bottom: 30px; }

  .business-summit .business-summit-title h4 {
    background-color: unset;
    backdrop-filter: unset;
    color: #ffffff !important;
    padding: 0 0 40px;
    text-align: center;
    clip-path: unset; }

  .business-summit .logo {
    margin-bottom: 14px; }

  .service-item.item-2 {
    margin-top: 0; }

  .service-item .text h5 .title {
    font-size: 21px; }

  .news-item .news-image {
    height: 483px; }

  .container-fluid {
    width: auto;
    margin: 0 auto;
    padding: 0 12px; }

  .news-item .news-text {
    width: 100%;
    padding: 30px 24px;
    top: 0; }

  .news-item .news-text .title {
    font-size: 20px; }

  .news-item {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 24px; }

  .news .common-btn {
    margin-top: 6px; }

  .news {
    padding-top: 50px; }

  .counter-part .col-lg {
    width: 50%;
    float: left;
    margin-bottom: 30px; }

  .counter-item h3 {
    color: #ffffff;
    font-size: 30px; }

  .counter-item.odd-item::before {
    display: none; }

  .counter-item.odd-item::after {
    display: none; }

  .counter-item i {
    font-size: 30px; }

  .counter-item p {
    font-size: 16px; }

  .counter-item h3 {
    margin: 14px 0 3px; }

  .counter-item.even-item::before {
    display: none; }

  .event-calender .pignose-calendar {
    min-height: 545px;
    margin-top: 30px;
    margin-bottom: 30px; }

  .upcomming-event-box .upcomming-event-item .image {
    height: 418px;
    position: relative; }

  .upcomming-event {
    padding-top: 50px; }

  .upcomming-event .common-title {
    margin-bottom: 20px;
    text-align: center; }

  .events {
    padding-top: 50px; }

  .common-title {
    margin-bottom: 24px; }

  .event-item .image {
    height: 407px; }

  .event-item {
    height: auto;
    margin-top: 24px; }

  .event-item .text .read-more {
    opacity: 1;
    visibility: visible; }

  .event-item:hover .text {
    transform: unset; }

  .event-item .text .title {
    font-size: 20px; }

  .gallery {
    padding-top: 50px;
    margin-bottom: -20px; }

  .gallery .gallery-menu .nav-link {
    font-size: 15px;
    padding: 9px 20px; }

  .gallery-item .image {
    height: 397px; }

  footer .footer-bg {
    padding: 50px 0 20px 0; }

  .contact-main .form {
    margin-bottom: 30px; }

  footer {
    padding-top: 60px; }

  .former-president-item .image {
    height: 379px; }

  .upcomming-event-page .upcomming-event-item .image {
    height: auto; }

  .upcomming-event-page .upcomming-event-item .text {
    padding-left: 24px; }

  .news-list-page .news-item {
    margin-bottom: 24px; }

  .news-details {
    padding-top: 60px; }

  .news-details .title h3 {
    font-size: 22px;
    line-height: 30px; }

  .fixed-sidebar-news {
    position: unset;
    padding-left: 0;
    margin-top: 40px; }

  .news-details .related-news .rn::before {
    display: none; }

  .news-details .text-main .img {
    width: auto;
    margin-right: 0;
    margin-bottom: 20px; }

  .content-page .content-main h1 {
    font-size: 22px;
    margin-bottom: 30px;
    padding: 0 0;
    padding-left: 0; }

  .content-page .content-main h1::before {
    display: none; }

  .content-page .content-main .content-box .small-image {
    float: unset;
    margin-right: 0;
    margin-bottom: 20px; }

  .content-page .mid-text {
    padding: 0px 0px 0px 0px;
    margin: 20px 0 !important;
    padding: 14px !important; }

  .content-page .mid-text i {
    display: none; }

  .content-page .mid-text h4 {
    font-size: 18px;
    line-height: 24px; }

  .publication-main .publication-item .single-item .image {
    height: 252px; }

  .publication-main .publication-item .single-item {
    min-height: 325px; }

  .video-gallery-view .big-video {
    height: 300px; }

  .notice-details-main .text h4 {
    font-size: 20px; }

  .notice-details-main h3 {
    font-size: 20px;
    top: 16px;
    right: -97px; }

  .notice-details-main .text {
    max-width: 446px; }

  .event-details-page .text h1 {
    font-size: 24px; }

  .event-details-page .text ul {
    padding: 24px;
    display: inherit !important; }

  .event-details-page .text ul li {
    line-height: 28px; }

  .sticky {
    position: unset;
    top: 70px;
    margin-top: 30px; } }
@media (max-width: 575.98px) {
  body {
    font-size: 15px; }

  .banner__slider .image {
    height: auto; }

  .banner__slider .banner-content h2 {
    font-size: 26px; }

  .banner__slider {
    height: auto; }

  .banner__slider .banner-content {
    margin-top: 30px; }

  .banner__slider .banner-content {
    padding-right: 12px;
    padding-left: 12px; }

  .about .about-image .img {
    height: auto; }

  .anim-img {
    display: none; }

  .about .about-text {
    padding-left: 0;
    padding-top: 230px; }

  .about .about-info .year-box .year h5 {
    width: 120px;
    height: 120px;
    line-height: 120px; }

  .about .about-info .year-box .year {
    width: 144px;
    height: 144px; }

  .about .about-info .year-box {
    width: 196px;
    right: 28px;
    bottom: -177px; }

  .about .common-title {
    margin-bottom: 20px; }

  .common-title h4 {
    font-size: 26px; }

  .about .about-info .video {
    bottom: -74px;
    left: 18px; }

  .about .about-text .description p {
    font-size: 15px; }

  .about .about-text .other-info .text h4 {
    font-size: 22px; }

  .about .about-text .other-info .info-box {
    height: auto; }

  .presedent-with-contact-form {
    padding-top: 90px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-top: 31px;
    padding-bottom: 0;
    padding-left: 0; }

  .presedent-with-contact-form .presedent-bg .text h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 8px; }

  .presedent-with-contact-form .presedent-bg .text h6 {
    font-size: 18px;
    margin-bottom: 18px; }

  .presedent-with-contact-form .presedent-bg .text p {
    margin-bottom: 24px; }

  .presedent-with-contact-form .presedent-bg .text .read-more {
    margin-bottom: 23px; }

  .presedent-with-contact-form .presedent-bg .text {
    padding-bottom: 30px; }

  .business-summit .business-summit-title h4 {
    background-color: unset;
    backdrop-filter: unset;
    color: #ffffff !important;
    padding: 0 0 40px;
    text-align: center;
    clip-path: unset; }

  .business-summit .logo {
    margin-bottom: 14px; }

  .service-item.item-2 {
    margin-top: 0; }

  .news-item .news-image {
    height: auto; }

  .container-fluid {
    width: auto;
    margin: 0 auto;
    padding: 0 12px; }

  .news-item .news-text {
    width: 100%;
    padding: 20px 24px;
    top: 0; }

  .news-item .news-text .title {
    font-size: 16px; }

  .news-item {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 24px; }

  .news .common-btn {
    margin-top: 6px; }

  .news {
    padding-top: 50px; }

  .counter-part .col-lg {
    width: 50%;
    float: left;
    margin-bottom: 30px; }

  .counter-item h3 {
    color: #ffffff;
    font-size: 30px; }

  .counter-item.odd-item::before {
    display: none; }

  .counter-item.odd-item::after {
    display: none; }

  .counter-item i {
    font-size: 30px; }

  .counter-item p {
    font-size: 16px; }

  .counter-item h3 {
    margin: 14px 0 3px; }

  .counter-item.even-item::before {
    display: none; }

  .event-calender .pignose-calendar {
    min-height: 545px;
    margin-top: 30px;
    margin-bottom: 30px; }

  .upcomming-event-box .upcomming-event-item .image {
    height: auto;
    position: relative; }

  .upcomming-event {
    padding-top: 50px; }

  .upcomming-event .common-title {
    margin-bottom: 20px;
    text-align: center; }

  .events {
    padding-top: 50px; }

  .common-title {
    margin-bottom: 24px; }

  .event-item .image {
    height: auto; }

  .event-item {
    height: auto;
    margin-top: 24px; }

  .event-item .text .read-more {
    opacity: 1;
    visibility: visible; }

  .event-item:hover .text {
    transform: unset; }

  .event-item .text .title {
    font-size: 20px; }

  .gallery {
    padding-top: 50px;
    margin-bottom: -20px; }

  .gallery .gallery-menu .nav-link {
    font-size: 15px;
    padding: 9px 20px; }

  .gallery-item .image {
    height: auto; }

  footer .footer-bg {
    padding: 50px 0 20px 0; }

  .contact-main .form {
    margin-bottom: 30px; }

  footer {
    padding-top: 60px; }

  .former-president-item .image {
    height: auto; }

  .upcomming-event-page .upcomming-event-item .image {
    height: auto; }

  .upcomming-event-page .upcomming-event-item .text {
    padding-left: 24px; }

  .news-list-page .news-item {
    margin-bottom: 24px; }

  .news-details {
    padding-top: 60px; }

  .news-details .title h3 {
    font-size: 22px;
    line-height: 30px; }

  .fixed-sidebar-news {
    position: unset;
    padding-left: 0;
    margin-top: 40px; }

  .news-details .related-news .rn::before {
    display: none; }

  .news-details .text-main .img {
    width: auto;
    margin-right: 0;
    margin-bottom: 20px; }

  .content-page .content-main h1 {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 0 0;
    padding-left: 0; }

  .content-page .content-main h1::before {
    display: none; }

  .content-page .content-main .content-box .small-image {
    float: unset;
    margin-right: 0;
    margin-bottom: 20px; }

  .content-page .mid-text {
    padding: 0px 0px 0px 0px;
    margin: 20px 0 !important;
    padding: 14px !important; }

  .content-page .mid-text i {
    display: none; }

  .content-page .mid-text h4 {
    font-size: 16px;
    line-height: 24px; }

  .publication-main .publication-item .single-item .image {
    height: auto; }

  .publication-main .publication-item .single-item {
    min-height: auto; }

  .video-gallery-view .big-video {
    height: 300px; }

  .notice-details-main .text h4 {
    font-size: 18px; }

  .notice-details-main h3 {
    font-size: 20px;
    top: 16px;
    right: -97px; }

  .notice-details-main .text {
    max-width: unset; }

  .notice-details-main h3 {
    font-size: 20px;
    transform: rotate(0deg);
    padding: 14px 53px;
    border-top-right-radius: 0; }

  .notice-details-main {
    overflow: visible; }

  .notice-details-main h3 {
    font-size: 20px;
    top: 0;
    right: unset; }

  .notice-details-main h3 {
    font-size: 18px;
    top: -26px;
    left: 0; }

  .notice-list .notice-info {
    padding-left: 0;
    padding-right: 0; }

  .notice-list .notice-date {
    position: unset;
    transform: unset; }

  .notice-list .notice-info h4 {
    font-size: 16px; }

  .notice-list .notice-date p {
    width: auto;
    padding: 0;
    background-color: transparent;
    color: #222;
    font-size: 16px; }

  .notice-list .notice-date p::before {
    display: none; }

  .notice-list .notice-date .year {
    display: inline-block; }

  .notice-list .notice-date p {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px; }

  .notice-list .notice-date .month {
    font-size: unset;
    font-weight: unset; }

  .notice-list .notice-item .pdf i {
    margin-left: 0;
    margin-top: 10px; }

  .event-details-page .text h1 {
    font-size: 24px; }

  .event-details-page .text ul {
    padding: 24px;
    display: inherit !important; }

  .event-details-page .text ul li {
    line-height: 28px; }

  .sticky {
    position: unset;
    top: 70px;
    margin-top: 30px; }

  .right-part .news-text h4 {
    font-size: 16px; }

  .event-details-page .text h1 {
    font-size: 18px; } }

/*# sourceMappingURL=responsive.css.map */
