@import "../variable/variable";
@import "../mixin/font";


.top-header {
  background-color: $black;
  padding: 10px 0;

  .title {
    p {
      @include font(15px, 500);
      color: $white;
    }
  }

  .social {
    ul {
      li {
        display: inline-block;
        a{
          margin-left: 15px;
          color: $white;
          &:hover{
            color: $themeColor;
          }
        }
      }
    }
  }
}