@import "../variable/variable";
@import "../mixin/font";

.former-secretary {
  padding-top: 40px;
  background-color: #F4F4F4;
  margin-bottom: -100px;
  padding-bottom: 70px;
}

.former-secretary-item {
  border-radius: 8px;
  margin-bottom: 24px;

  .image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid $white;
    box-shadow: 0 15px 35px -10px rgba(0, 0, 0, 0.2);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }

  .text {
    margin-top: 34px;
    background-color: $white;
    padding: 20px;
    border-radius: 4px;
    min-height: 243px;
    position: relative;

    &::before {
      width: 25px;
      height: 25px;
      background-color: $white;
      position: absolute;
      top: -11px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      border-radius: 4px;
      content: "";
    }

    h4 {
      @include font(20px, 700);
      margin-bottom: 8px;
      color: $black;
      transition: all linear .2s;
    }

    span {
      margin-bottom: 2px;
      color: $black;
      @include font(15px, 400);
    }
  }

  &:hover {
    h4 {
      color: $themeColor;
    }
  }
}