@import "../variable/variable";
@import "../mixin/font";

.video-gallery-view {
  padding-top: 70px;

  .big-video {
    width: 100%;
    height: 500px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}